<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container mt--6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Demande de Congé</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="congeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h5 for="motif">Motif</h5>
          <input id="motif" formControlName="motif" class="form-control" placeholder="Motif de la demande">
        </div>

        <mat-form-field class="full-width">
          <mat-label>Entrez une plage de dates</mat-label>
          <mat-date-range-input [formGroup]="congeForm" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Date de début">
            <input matEndDate formControlName="end" placeholder="Date de fin">
          </mat-date-range-input>
          <mat-hint>MM/JJ/AAAA – MM/JJ/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="congeForm.get('start').hasError('matStartDateInvalid')">
            Date de début invalide
          </mat-error>
          <mat-error *ngIf="congeForm.get('end').hasError('matEndDateInvalid')">
            Date de fin invalide
          </mat-error>
        </mat-form-field>

        <button type="submit" class="btn btn-primary" [disabled]="!congeForm.valid">Soumettre</button>
      </form>
    </div>
  </div>
</div>



  
